
#left{
    background-color: #39435C;
    /*min-height: 1600px;*/ 
}

#right{
    background-color: #f0f3f4;
    min-height: 1650px;
}

#left #logo{
    display: block;
    text-align: center;
    color: white;
    font-size:  x-large;
    background-color: #283744;
    text-decoration: none;
    padding: 16.5px 0;
    font-weight: 400;
}

.panel-left img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.panel-right p{
    color: white;
    margin-bottom: -4px;
    font-weight: 500;
}

.panel-right a{
    color: white;
    text-decoration: none;
}

.panel-right a:hover{
    text-decoration: none;
    color: white
}

.sidebar-menu{
    list-style-type: none;
    padding-left: 0px;
}

.sidebar-menu li{
    padding: 10px 30px;
}

.sidebar-menu li a i{
    margin-right: 5px;
}

.sidebar-menu li a{
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar-menu li:hover{
    cursor: pointer;
    background-color: #425164;
}

#myInput, #myInput2, #myInput3, #myInput4 {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 5px 3px;
  background-repeat: no-repeat;
  padding-left: 35px;
}